body
{
	font-family: AktivGrotesk;
}

.lollipop .lollipop_first
{
	padding-top: 166px;
	padding-left: 220px;
	padding-right: 731px;
}

.lollipop .lollipop_first .topic
{
	color: #31373D;
	font-size: 50px;
	font-weight: 700;
	line-height: 58px;
	width: 489px;
	text-align: left;
}	

.lollipop .lollipop_first .topic .image
{
	margin-top: -120px;
	padding-left: 600px;
	padding-top: -100px;
}	

.lollipop .lollipop_first .desc
{
	margin-top: -65px;
	color: #31373D;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 489px;
  text-align: left;
  padding-top: 20px;
}

.lollipop .lollipop_first .buttons
{
	display: inline-flex;
	margin-top: 10px;
}

.lollipop .buttons .first
{  
    background-color: #0099FF;
    border-radius: 3px;
    width: 220px;
    height: 48px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}  

.lollipop .lollipop_first .buttons .second
{
    border: 2px solid #0099FF;
    border-radius: 3px;
    width: 222px;
    height: 48px;
    margin-left: 15px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 211px;
    text-align: center;
    color: #31373D;
}  

.lollipop .lollipop_second
{
	padding-top: 165px;
	padding-left: 87px;
	padding-right: 86px;
}

.lollipop .lollipop_second .box
{
	background-image: linear-gradient(44.59deg, #D5E2E9 0%, #EAEEF1 100%);
  width: 1160px;
  height: 409px;
}

.lollipop .lollipop_second .box .text
{
	  padding-top: 35px;
	  color: #31373D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.lollipop .lollipop_second .box .image
{
    margin-top: 30px;
    margin-left: 215px;
}

.lollipop .lollipop_third .topic
{
	  color: #31373D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    /*text-align: center;*/
	  padding-top: 340px;
    padding-left: 573px;
}

.lollipop .lollipop_third .desc
{
    color: #8B8E91;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 449px;
    /*text-align: center;*/
    padding-left: 506px;
}

.lollipop .lollipop_third .desc .extra
{
    color: #00b5f4;
    display: flex-inline;
}

.lollipop .lollipop_third .servings
{
	  background-color: #FFFFFF;
    width: 500px;
    height: 46px;
    margin-left: 470px;
    margin-top: 35px;
    display: flex;
}

.lollipop .lollipop_third .servings .servings_quantity
{
	width: 125px;
	height: 46px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
	color: #4A4A4A;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  /*text-align: right;*/
}

.lollipop .lollipop_third .servings .servings_quantity:focus
{
  border-color: #00b5f4;
	border-width: 4px;
}

/*.lollipop .lollipop_third .servings .servings_quantity:nth-child(3)
{
	border-color: #00b5f4;
	border-width: 4px;	
}*/

.lollipop .lollipop_third .time
{
	  color: #31373D;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 72px;
    text-align: left;
    padding-left: 623px;
    padding-top: -30px;
 }   


.lollipop .lollipop_third .time .text
{
	  margin-top: 44px;
}

.lollipop .lollipop_third .time .text2
{
	  margin-top: -42px;
	  margin-left: 135px;
}

.lollipop .lollipop_third .time .offer
{
	  margin-top: 0px;
	  color: #8B8E91;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 60px;
    text-align: left;
	/*margin-left: 145px;*/
}

.lollipop .lollipop_third .center
{
    /*position: absolute;*/
    margin-left: 691px;
    padding-bottom: 20px;
    transform: translate(-50%,-50%);
}

input[type="checkbox"]
{
  margin-top: -15px;
  background-color: #D8D8D8;
  border-radius: 7px;
  opacity: 0.6388346354166666;
  width: 44px;
  height: 14px;
  position: absolute;
  -webkit-appearance: none;
  outline: none;
  transition: .2s;
}

input[type="checkbox"]:before
{
  content: '';
  background-color: #0099FF;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: 0;
  transition: .4s;
}

input[type="checkbox"]:checked:before
{
   left: 20px;
}


.lollipop .lollipop_third .price
{
	  background-color: #FFFFFF;
  	box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
  	width: 462px;
  	height: 200px;
  	margin-left: 381px;
  	margin-top: 36px;
  	display: flex;
}

.lollipop .lollipop_third .price .box-1 .item,
.lollipop .lollipop_third .price .box-2 .item
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 28px;
  	padding-top: 41px;
  	text-align: left;
  	padding-left: 44px;
}

.lollipop .lollipop_third .price .wall
{
    background-color: #F9F9F9;
  	width: 2px;
  	height: 202px;
  	margin-left: 30px;
}

.lollipop .lollipop_third .price .box-1 .item-1_price,
.lollipop .lollipop_third .price .box-2 .item-2_price,
.lollipop .lollipop_third .price .box-1 .amount,
.lollipop .lollipop_third .price .box-2 .amount
{
	  padding-left: 44px;
}

.lollipop .lollipop_third .price .box-1 .item-1_price,
.lollipop .lollipop_third .price .box-2 .item-2_price
{
	  color: #3D3C31;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-top: 28px;
}

.lollipop .lollipop_third .price .box-1 .item-1_price .duration,
.lollipop .lollipop_third .price .box-2 .item-2_price .duration
{
	  color: #8B8E91;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 78px;
    text-align: left;
}

.lollipop .lollipop_third .price .box-1 .amount,
.lollipop .lollipop_third .price .box-2 .amount
{
	  color: #31373D;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 156px;
    text-align: left;
}

.lollipop .lollipop_third .price .savings
{
	  background-color: #FFFFFF;
  	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
 	  height: 230px;
 	  width: 214px;
  	/*padding-right: 140px;*/
  	margin-top: -15px;
}

.lollipop .lollipop_third .price .savings .desc
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
    line-height: 28px;
  	text-align: left;
  	/*padding-right: 700px;*/
  	padding-left: 23px;
  	padding-top: 50px;
}

.lollipop .lollipop_third .price .savings .saved-money
{
	  color: #0099FF;
  	font-size: 30px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
  	padding-left: 23px;
  	padding-top: 12px;
}

.lollipop .lollipop_third .price .savings .duration
{
  	color: #8B8E91;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    width: 78px;
    text-align: left;
    padding-left: 23px;
}

.lollipop .lollipop_fourth
{
	  padding-top: 150px;
}

.lollipop .lollipop_fourth .customers
{
	  color: #31373D;
  	font-size: 24px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: center;
  	/*padding-left: 523px;*/
}
.lollipop .lollipop_fourth img
{
	  padding-top: 69px;
	  padding-left: 360px;
  	/*border-radius: 50%;*/
}

.lollipop .lollipop_fourth .text
{
	  color: #8B8E91;
  	font-size: 16px;
  	font-style: italic;
  	font-weight: 500;
  	line-height: 22px;
  	width: 366px;
  	text-align: left;
  	margin-top: -179px;
  	margin-left: 580px;
}

.lollipop .lollipop_fourth .quotes
{
	  font-size: 40px;
	  /*width: 54px;*/
	  color: #00b5f4;
}

.lollipop .lollipop_fourth .text .text2
{
  	margin-left: 5px;
}

.lollipop .lollipop_fourth .name
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
  	padding-left: 600px;
}

.lollipop .lollipop_fourth .location
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 400;
  	line-height: 34px;
  	padding-left: 600px;
}

.lollipop .lollipop_fourth .oval
{
	  display: flex;
	  margin-top: 64px;
}

.lollipop .lollipop_fourth .oval .oval-active
{
	  background-color: #0099FF;
  	border-radius: 100%;
  	width: 9px;
  	height: 9px;
  	margin-left: 600px;
}

.lollipop .lollipop_fourth .oval .oval-dead
{
	  background-image: linear-gradient(221.9deg, #D5E2E9 0%, #EAEEF1 100%);
  	border-radius: 100%;
  	width: 9px;
  	height: 9px;
  	margin-left: 14px;
}

.lollipop .lollipop_fourth .experts
{
	  padding-top: 160px;
	  padding-left: 333px;
	  color: #31373D;
  	font-size: 30px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
}

.lollipop .lollipop_fourth .experts .desc
{
	  color: #8B8E91;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 22px;
  	width: 387px;
  	text-align: left;
  	padding-top: 16px;
  	margin-bottom: 36px;
}

.lollipop .lollipop_fourth .experts img
{
	  padding-left: 486px;
	  margin-top: -380px;
}	