body
{
	font-family: AktivGrotesk;
  max-width: 100%;
  overflow-x: hidden;
}

.lollipop .lollipop_first
{
	padding-top: 12.5%;
	padding-left: 16.5%;
}

.lollipop .lollipop_first .topic
{
	color: #31373D;
	font-size: 3.13em;
	font-weight: 700;
	width: 40%;
	text-align: left;
}	

.lollipop .lollipop_first .topic .image
{
	margin-top: -27%;
	margin-left: 134%;
}	

.lollipop .lollipop_first .desc
{
	color: #31373D;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 42%;
  text-align: left;
  margin-top: -4%;
}

.lollipop .lollipop_first .buttons
{
	display: inline-flex;
	margin-top: 0.9%;
  width: 280%;
  height: 48px;
  text-align: center;
}

.lollipop .lollipop_first .buttons .first
{  
    background-color: #0099FF;
    border-radius: 3px;
    width: 7.05%;
    color: #FFFFFF;
    font-weight: 700;  
    font-size: 1em;
}  

.lollipop .lollipop_first .buttons .second
{
    border: 2px solid #0099FF;
    border-radius: 3px;
    width: 6.8%;
    margin-left: 0.5%;
    background-color: white;
    font-weight: 700;
    color: #31373D;
    font-size: 1em;
}  

.lollipop .lollipop_second
{
	padding-top: 12.3%;
	padding-left: 6.5%;
}

.lollipop .lollipop_second .box
{
	background-image: linear-gradient(44.59deg, #D5E2E9 0%, #EAEEF1 100%);
  width: 93.2%;
  height: 409px;
}

.lollipop .lollipop_second .box .text
{
	  padding-top: 3%;
	  color: #31373D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.lollipop .lollipop_second .box .image
{
    margin-top: 2.6%;
    margin-left: 18.5%;
    width: 63.5%;
    height: 551px;
}

.lollipop .lollipop_third .topic
{
	  color: #31373D;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    /*text-align: center;*/
	  padding-top: 25.6%;
    padding-left: 43%;
}

.lollipop .lollipop_third .desc
{
    color: #8B8E91;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 38%;
    width: 30%;
}

.lollipop .lollipop_third .desc .extra
{
    color: #00b5f4;
    display: flex-inline;
}

.lollipop .lollipop_third .servings
{
    background-color: #FFFFFF;
    width: 40%;
    height: 46px;
    margin-left: 35.2%;
    margin-top: 2.5%;
    display: flex;
}

.lollipop .lollipop_third .servings .servings_quantity
{
	width: 23.5%;
	height: 46px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
	color: #4A4A4A;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  /*text-align: right;*/
}

.lollipop .lollipop_third .servings .servings_quantity:hover
{
  cursor: pointer;
}

.focus
{
  background-color: #FFFFFF;
  border: 3px solid #0099FF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

/*.lollipop .lollipop_third .servings .servings_quantity:nth-child(3)
{
	border-color: #00b5f4;
	border-width: 4px;	
}*/

.lollipop .lollipop_third .time
{
	  color: #31373D;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    padding-left: 46.8%;
}   


.lollipop .lollipop_third .time .text
{
	  margin-top: 6%;
}

.lollipop .lollipop_third .time .text2
{
	  margin-top: -6%;
	  margin-left: 18.8%;
}

.lollipop .lollipop_third .time .offer
{
	  margin-top: 0px;
	  color: #8B8E91;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.lollipop .lollipop_third .center
{
    margin-left: 51.8%;
    padding-bottom: 20px;
    transform: translate(-50%,-50%);
}

input[type="checkbox"]
{
  margin-top: -15px;
  background-color: #D8D8D8;
  border-radius: 7px;
  opacity: 0.6388346354166666;
  width: 3%;
  height: 14px;
  position: absolute;
  -webkit-appearance: none;
  outline: none;
  transition: .2s;
}

input[type="checkbox"]:before
{
  content: '';
  background-color: #0099FF;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: 0;
  transition: .4s;
}

input[type="checkbox"]:checked:before
{
 left: 20px;
}


.lollipop .lollipop_third .price
{
	  background-color: #FFFFFF;
  	box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
  	width: 48.5%;
  	height: 200px;
  	margin-left: 28.5%;
  	margin-top: 3%;
  	display: flex;
}

.lollipop .lollipop_third .price .box-1,
.lollipop .lollipop_third .price .box-2
{
  padding-right: 12%;
}

.lollipop .lollipop_third .price .box-1 .item,
.lollipop .lollipop_third .price .box-2 .item
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 28px;
  	padding-top: 33%;
  	text-align: left;
  	padding-left: 34%;
}

.lollipop .lollipop_third .price .wall
{
    background-color: #F9F9F9;
  	width: 2px;
  	height: 202px;
  	margin-left: 4%;
}

.lollipop .lollipop_third .price .box-1 .item-1_price,
.lollipop .lollipop_third .price .box-2 .item-2_price,
.lollipop .lollipop_third .price .box-1 .amount,
.lollipop .lollipop_third .price .box-2 .amount
{
	  padding-left: 34%;
}

.lollipop .lollipop_third .price .box-1 .item-1_price,
.lollipop .lollipop_third .price .box-2 .item-2_price
{
	  color: #3D3C31;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-top: 22%;
    display: flex;
}

.lollipop .lollipop_third .price .box-1 .item-1_price .duration,
.lollipop .lollipop_third .price .box-2 .item-2_price .duration
{
	  color: #8B8E91;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    margin-top: 13%;
}

.lollipop .lollipop_third .price .box-1 .amount,
.lollipop .lollipop_third .price .box-2 .amount
{
	  color: #31373D;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    text-align: left;
}

.lollipop .lollipop_third .price .savings
{
	  background-color: #FFFFFF;
  	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
 	  height: 230px;
 	  width: 33.33%;
  	margin-top: -15px;
    margin-right: -1%;
}

.lollipop .lollipop_third .price .savings .desc
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
    line-height: 28px;
  	padding-left: 11%;
  	padding-top: 50px;
    width: 100%;
}

.lollipop .lollipop_third .price .savings .saved-money
{
	  color: #0099FF;
  	font-size: 30px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
  	padding-left: 11%;
  	padding-top: 5%;
}

.lollipop .lollipop_third .price .savings .duration
{
  	color: #8B8E91;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 11%;
}

.lollipop .lollipop_fourth
{
	  padding-top: 12%;
}

.lollipop .lollipop_fourth .customers
{
	  color: #31373D;
  	font-size: 24px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: center;
  	/*padding-left: 523px;*/
}
.lollipop .lollipop_fourth img
{
	  padding-top: 5%;
	  padding-left: 27%;
  	/*border-radius: 50%;*/
}

.lollipop .lollipop_fourth .text
{
	  color: #8B8E91;
  	font-size: 16px;
  	font-style: italic;
  	font-weight: 500;
  	line-height: 22px;
  	text-align: left;
  	margin-top: -13%;
  	margin-left: 43.5%;
    height: 100px;
}

.lollipop .lollipop_fourth .quotes
{
	  font-size: 40px;
	  /*width: 54px;*/
	  color: #00b5f4;
}

.lollipop .lollipop_fourth .text .text2
{
  	margin-left: 5px;
}

.lollipop .lollipop_fourth .name
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
  	padding-left: 45%;
}

.lollipop .lollipop_fourth .location
{
	  color: #31373D;
  	font-size: 20px;
  	font-weight: 400;
  	line-height: 34px;
  	padding-left: 45%;
}

.lollipop .lollipop_fourth .oval
{
	  display: flex;
	  margin-top: 4%;
    margin-left: 44%;
}

.lollipop .lollipop_fourth .oval .sample-oval
{
    border-radius: 100%;
    width: 9px;
    height: 9px;
    margin-left: 14px;
    color: red;
}

.lollipop .lollipop_fourth .oval .sample-oval:hover
{
  cursor: pointer;
}

.oval-dead
{
   background-image: linear-gradient(221.9deg, #D5E2E9 0%, #EAEEF1 100%);
}

.oval-active
{
	  background-color: #0099FF;
}

.lollipop .lollipop_fourth .experts
{
	  padding-top: 12%;
	  padding-left: 25%;
	  color: #31373D;
  	font-size: 30px;
  	font-weight: 700;
  	line-height: 34px;
  	text-align: left;
}

.lollipop .lollipop_fourth .experts .desc
{
	  color: #8B8E91;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 22px;
  	/*width: 100%;*/
  	text-align: left;
  	padding-top: 12px;
  	margin-bottom: 4%;
}

.lollipop .lollipop_fourth .experts img
{
	  padding-left: 48.5%;
	  margin-top: -40%;
}	

.buttons-last
{
  /*margin-top: 0.9%;*/
  background-color: #0099FF;
  border-radius: 3px;
  width: 22%;
  height: 48px;
}

.last-text
{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}



